In [24]:
import pandas as pd
import numpy
from urllib.request import urlretrieve

In [25]:
#data = pd.read_csv("IRIS.csv", header = ['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthC', 'Specie'])

iris = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
#urlretrieve(iris)
data = pd.read_csv(iris)

data.columns = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthC', 'Specie']

In [26]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthC       Specie
0            4.9           3.0            1.4          0.2  Iris-setosa
1            4.7           3.2            1.3          0.2  Iris-setosa
2            4.6           3.1            1.5          0.2  Iris-setosa
3            5.0           3.6            1.4          0.2  Iris-setosa
4            5.4           3.9            1.7          0.4  Iris-setosa

In [29]:
data.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthC      0
Specie           0
dtype: int64

In [31]:
data.isnull().values.any()

False