In [179]:
#import required libraries
import numpy as np
import pandas as pd

In [180]:
#loading the dataset
data = pd.read_csv("Data.csv")

In [181]:
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [182]:
#numpy representation
X = data.iloc[: , :-1].values
Y = data.iloc[ : , 3].values

In [183]:
data.isnull().sum()
#check for missing data with mean since mean seems to be the best option here using measure of center
#Age might be a factor for determining Salary somewhat dependent

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [184]:
#fill in missing data with mean
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Salary"] = data["Salary"].fillna(data["Salary"].mean())

In [185]:
data.isnull().sum()
#check is there is any missing value(comfirmation)

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [199]:
#data["Purchased"] = data["Purchased"][data["Purchased"] == "Yes"]
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
data["Purchased"] = LabelEncoder().fit_transform(data["Purchased"])
data["Country"] = LabelEncoder().fit_transform(data["Country"])

In [200]:
#numpy representation
X = data.iloc[: , :-1].values
Y = data.iloc[ : , 3].values

In [201]:
data.head()

   Country   Age        Salary  Purchased
0        0  44.0  72000.000000          0
1        2  27.0  48000.000000          1
2        1  30.0  54000.000000          0
3        2  38.0  61000.000000          0
4        1  40.0  63777.777778          1

In [202]:
from sklearn.cross_validation import train_test_split

X_train,X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=0)

In [203]:
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(8, 3) (8,)
(2, 3) (2,)

In [205]:
#data norminalization taking mean to zero and standard deviationn to one
from sklearn.preprocessing import StandardScaler


X_test =  StandardScaler().fit_transform(X_test)
X_train = StandardScaler().fit_transform(X_train)