In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [108]:
data = pd.read_csv('Social_Network_Ads.csv')

In [109]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [110]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [111]:
data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [112]:
from sklearn.preprocessing import LabelEncoder
data['Gender'] = LabelEncoder().fit_transform(data['Gender'])

In [113]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [114]:
y = data['Purchased']
features = ['Gender', 'Age', 'EstimatedSalary']
X = data[features]

In [115]:
data.corr()

                  User ID    Gender       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.025249 -0.000721         0.071097   0.007120
Gender          -0.025249  1.000000 -0.073741        -0.060435  -0.042469
Age             -0.000721 -0.073741  1.000000         0.155238   0.622454
EstimatedSalary  0.071097 -0.060435  0.155238         1.000000   0.362083
Purchased        0.007120 -0.042469  0.622454         0.362083   1.000000

In [121]:
from sklearn.cross_validation import train_test_split
x_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print(x_train.shape, y_train.shape)
print(X_test, y_test)

(280, 3) (280,)
     Gender  Age  EstimatedSalary
398       1   36            33000
125       0   39            61000
328       1   36           118000
339       1   39           122000
172       0   26           118000
342       0   38            65000
197       0   20            36000
291       1   49            89000
29        1   31            18000
284       1   48           141000
174       0   34            72000
372       0   39            73000
188       1   35            72000
324       0   48           131000
321       0   53            82000
227       1   56           133000
371       1   60            83000
5         1   27            58000
78        0   28            87000
223       1   60           102000
122       0   40            75000
242       0   50            88000
382       0   44           139000
214       1   47            43000
17        1   45            26000
92        1   26            15000
366       0   58            47000
201       1   49            74000
361       0   53            34000
207       0   52           114000
..      ...  ...              ...
159       0   32           135000
355       1   60            34000
283       0   52            21000
338       0   38            55000
161       1   25            90000
300       0   58            38000
277       1   49            88000
289       0   37            78000
260       0   35            77000
173       0   34            43000
82        1   20            49000
367       1   46            88000
179       0   31            34000
27        0   47            30000
89        1   35            50000
311       1   39            96000
73        0   33           113000
233       1   49            86000
298       1   45            79000
250       0   44            39000
119       1   41            59000
377       0   42            53000
98        1   35            73000
244       0   41            72000
146       0   27            96000
91        0   30           116000
322       1   41            52000
248       1   41            52000
186       0   20            82000
395       0   46            41000

[120 rows x 3 columns] 398    0
125    0
328    1
339    1
172    0
342    0
197    0
291    1
29     0
284    0
174    0
372    0
188    0
324    1
321    1
227    1
371    1
5      0
78     0
223    1
122    0
242    1
382    1
214    0
17     1
92     0
366    1
201    0
361    1
207    0
      ..
159    1
355    1
283    1
338    0
161    0
300    1
277    1
289    1
260    0
173    0
82     0
367    1
179    0
27     1
89     0
311    1
73     0
233    1
298    0
250    0
119    0
377    0
98     0
244    0
146    1
91     0
322    0
248    0
186    0
395    1
Name: Purchased, Length: 120, dtype: int64

In [120]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

ValueError: operands could not be broadcast together with shapes (120,3) (2,) (120,3)

In [117]:
from sklearn.neighbors import KNeighborsClassifier
fit_model = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2).fit(x_train, y_train)

In [118]:
predic = fit_model.predict(X_test)

In [119]:
fit_model.score(X_test,y_test)

0.7083333333333334

In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [40]:
dataset = pd.read_csv('Social_Network_Ads.csv')
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

In [41]:

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [42]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

/home/hammed/.local/share/virtualenvs/ds-ml-al-YMocjMnh/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [43]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [44]:
y_pred = classifier.predict(X_test)

In [45]:

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [48]:
classifier.score(X_test, y_test)

0.93