In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("50_Startups-Copy1.csv")

In [6]:
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [8]:
X = data.iloc[:, :3].values
Y = data.iloc[:, 4].values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB

In [ ]:
data.describe()

In [23]:
data.shape

(50, 5)

In [24]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [68]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
data["State"] = labelencoder.fit_transform(data["State"])

In [79]:
X = data.iloc[:, :3].values
Y = data.iloc[:, 4:].values

In [87]:
from sklearn.cross_validation import train_test_split

X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state =0)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(30, 3) (30, 1)
(20, 3) (20, 1)

In [88]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression().fit(X_train, Y_train)

In [89]:
predict = regressor.predict(X_test)