In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
data = pd.read_csv("50_Startups-Copy1.csv")

In [12]:
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [13]:
features = ["R&D Spend", "Administration", "Marketing Spend", "State"]
X = data[features]
Y = data.Profit

In [14]:
X.describe()

           R&D Spend  Administration  Marketing Spend
count      50.000000       50.000000        50.000000
mean    73721.615600   121344.639600    211025.097800
std     45902.256482    28017.802755    122290.310726
min         0.000000    51283.140000         0.000000
25%     39936.370000   103730.875000    129300.132500
50%     73051.080000   122699.795000    212716.240000
75%    101602.800000   144842.180000    299469.085000
max    165349.200000   182645.560000    471784.100000

In [15]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [16]:
data.shape

(50, 5)

In [17]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
data["State"] = labelencoder.fit_transform(data["State"])

In [19]:
features = ["R&D Spend", "Administration", "Marketing Spend", "State"]
X = data[features]
Y = data.Profit

In [20]:
from sklearn.cross_validation import train_test_split

X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state =0)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(30, 4) (30,)
(20, 4) (20,)

/home/hammed/.local/share/virtualenvs/ds-ml-al-YMocjMnh/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [21]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression().fit(X_train, Y_train)

In [22]:
predict = regressor.predict(X_test)